@import "../../node_modules/materialize-css/sass/materialize.scss";
@import "../../node_modules/material-design-icons/iconfont/material-icons.css";

$theme-color: #3f51b5;
.valign-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}

.btn {
  margin: 0 10px;
  background-color: $theme-color !important;
}

.input-field label {
  color: #000 !important;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #000 !important;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid $theme-color !important;
  box-shadow: 0 1px 0 0 $theme-color !important;
}

#b_start {
  opacity: 1;
  z-index: 0;
  position: absolute;
  transition: opactiy 0.5s ease-in-out;
}
#b_start.stopped {
  opacity: 0;
}

.btn:not(#b_start) {
  z-index: 1;
  transform: scaleY(0);
  transition: all 0.5s ease-in-out;
}
.btn:not(#b_start).started {
  opacity: 1 !important;
  transform: scaleY(1) !important;
}

#time_fields {
  transform: scaleX(1);
  transition: all 0.5s ease-in-out;
}
#time_fields.started {
  transform: scaleX(0);
}
